.container{
    width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
@media screen and (max-width:768px){
    .container{
        width: 100%;
    }
}
@media screen and (max-width:375px){
    .container{
        width: 100%;
    }
}