.guide{
    padding-bottom: 100px;
   span{
    width: 974px;
    background-color: #E5ECF4;
    height: 5px;
    position: absolute;
    left: 0;
    top: 954px;
   }
   &__top__img1{
    position: absolute;
    left: 165px;
top: 906px;
   }
   &__top__img2{
    position: absolute;
    left: 545px;
    top: 906px;
   }
   &__top__img3{
    position: absolute;
    left: 925px;
    top: 906px;
   }
   &__bottom{
    display: flex;
    margin-top: 300px;
    justify-content: space-around;
        h2{
color: #495567; 
        }
        p{
            color: #939CAA;  
            width: 350px;  
    }
   }
}
@media screen and (max-width:768px){
    .guide{
        padding-top: 50px;
         padding-bottom: 100px;
        span{
         width: 5px;
         background-color: #E5ECF4;
         height: 512px;
         position: absolute;
         left: 0;
         left: 141px;
         top: 746px;
        }
        &__top__img1{
         position: absolute;
         left: 97px;
         top: 868px;
        }
        &__top__img2{
         position: absolute;
         left: 97px;
         top: 1038px;
        }
        &__top__img3{
         position: absolute;
         left: 97px;
         top: 1208px;
        }
        &__bottom{
            flex-direction: column;
            margin-left: 250px;
            margin-top: -30px;
        }
     }
}
@media screen and (max-width:375px){
    .guide{
        padding-top: 50px;
         padding-bottom: 100px;
        span{
      display: none;
        }
        &__top__img1{
         position: absolute;
         left: 150px;
         top: 834px;
        }
        &__top__img2{
         position: absolute;
         left: 150px;
         top: 1114px;
        }
        &__top__img3{
         position: absolute;
         left: 150px;
         top: 1394px;
        }
        &__bottom{
            text-align: center;
            margin-left: 10px;
            margin-top: 80px;
            &__middle{
                margin-top: 100px;
            }
            &__end{
                margin-top: 130px;
            }
        }
     }
}