.hero{
    width: 100%;
    margin-top: 80px;
    background-image: url(/images/herobgr.svg);
    background-repeat: no-repeat;
    padding: 150px;
    &__box{
        &__img1{
            max-width: 80%;
            position: absolute;
            left: -60px;
            top: 450px;
        }
        &__img2{
            max-width: 80%;
            position: absolute;
            left: 670px;
            top: 450px;
        }
        h1{
            color: white;
font-size: 46px;
line-height: 56px;
width: 500px;
        }
        p{
            font-size: 15px;
line-height: 25px;
color: white;
width: 510px;
        }
    }
    &__btn{
        width: 180px;
        height: 53px;
        background-color: #FCB72B;
        color: white;
        border: none;
    }
    &__btn:hover{
        background-color: white;
        color: #FCB72B;
        border: 1px solid #FCB72B;
    }
}
@media screen and (max-width:768px){
    .hero{
        width: 100%;
        text-align: center;
        padding: 0;
        overflow-x: hidden;
        height: 718px;
        &__box{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img1{
              display: none;
            }
            &__img2{
                position: absolute;
                left: 40px;
                top: 500px;
            }
        }
    }
}
@media screen and (max-width:375px){
    .hero{
        width: 100%;
        text-align: center;
        padding: 0;
        overflow-x: hidden;
        height: 718px;
        &__box{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                width: 311px;
            }
            p{
                width: 315px;
            }
            &__img1{
              display: none;
            }
            &__img2{
                position: absolute;
                left: -280px;
                top: 500px;
            }
        }
    }
}